<<<<<<< HEAD
.rufina-regular {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}

.rufina-bold {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-style: normal;
}
=======
body {
    background-color:#BFEFFF
}
>>>>>>> 15c2d35ca5008699a341791506843f9d4e509e6d
